<%= form_for @group do |form| %>
  <%= render "form_errors", target: @group %>

  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.text_area :description, placeholder: "Description" %>
  </div>
  <div>
    <%= form.submit "Create Group" %>
  </div>
<% end %>
