<h2><%= @gallery.name %></h2>

<% if @gallery.user == current_user %>
  <nav>
    <%= link_to "Edit", edit_gallery_path(@gallery) %>
    <%= link_to "Delete", @gallery,  method: :delete %>
    <%= link_to "New image", new_gallery_image_path(@gallery) %>
  </nav>
<% end %>

<% @gallery.images.each do |image| %>
  <%= link_to image_tag(image.url, width: "200"), image %>
<% end %>
