<h2><%= @gallery.name %></h2>

<% if @gallery.user == current_user %>
  <nav>
    <%= link_to "Edit", edit_gallery_path(@gallery) %>
    <%= link_to "Delete", @gallery,  method: :delete %>
    <%= link_to "New image", new_gallery_image_path(@gallery) %>
  </nav>
<% end %>

<%= render @images %>
