<%= form_for @image do |form| %>
  <%= render "form_errors", target: @image %>

  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.text_field :description, placeholder: "Description" %>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "URL" %>
  </div>
  <div>
    <%= form.submit "Update image" %>
  </div>
<% end %>
